/* Global styles */

h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for products/index */

#product-list table {
        border-collapse: collapse;
}

#product-list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product-list .list-image {
  width:        60px;
  height:       70px;
}

#product-list .list-description {
  width:        60%;
}

#product-list .list-description dl {
        margin: 0;
}

#product-list .list-description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product-list .list-description dd {
        margin: 0;
}

#product-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product-list .list-line-even {
  background:   #e0f8f8;
}

#product-list .list-line-odd {
  background:   #f8b0f8;
}

#news-list .list-item {
    border: solid #5c61b6 1px;
    padding: 5px;
}

#news-list .list-item dl {
    margin: 0;
}

#news-list .list-item dt {
    color:        #244;
    font-weight:  bold;
    font-size:    larger;
}

#news-list .list-item dd {
    margin: 0;
}

#news-list .list-line-even {
    background:   #e0f8f8;
}

#news-list .list-line-odd {
    background:   #fddfeb;
}

#store {
    background: #ddfece;
/*    background-image: url("../images/background.jpg")*/
}

/* An entry in the store catalog */

#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store #greeting {
    font-weight: bold;
    font-size: large;
    color: #338833;
}

#store #intro-message {
    text-align: justify;
}

#store #admin-access {
    font-size: small;
    text-align: right
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 75px;
  float: left;
}

#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#store .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#store .entry .price-line {
 clear: both;
}

#store .entry .add-to-cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}

#store .entry .image-submit {
    width: 160px;
    height: 200px;
    border: solid #141 1px;
}

#store .entry .description {
    text-align: justify;
}

/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: #EEFFEE;
  display: inline;
}

.fieldWithErrors * {
  background-color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


#banner {
    background: #9c9 ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    font: small-caps 40px/40px "Times New Roman", serif;
    color: #282 ;
    text-align: center;
}

#banner img {
    float: left;
}

/*Alignt to center*/
#columns {
    background: #141;
    width: 800px;
    margin: 0 auto;
    border-right: solid #9c9 1px;
}

#main {
    margin-left: 13em;
    padding-top: 0.5ex;
    padding-left: 2em;
    padding-right: 1em;
    padding-bottom: 2em;
    background: #EEFFEE;
    min-height: 600px;
}

#side {
    float: left;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    width: 12em;
    background: #141 ;
}

#side a {
    color: #bfb ;
    font-size: large;
    font-style: oblique;
    font-weight: bold;
}

#store .entry form, #store .entry form div {
    display: inline;
}

#footer {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background: white;
    background: #9c9;
    font-size: small;
    text-align: center;
    border-bottom: solid #9c9 1px;
    border-left: solid #9c9 1px;
}

#notice {
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #ffaaaa;
    font: bold smaller sans-serif;
}

/* Syles for the cart in the main page */

.cart-title {
    font: 120% bold;
    font-weight: bold;
}

.cart-button {
    min-width: 13em;
}

.item-price, .total-line {
    text-align: right;
}

.total-line .total-cell {
    font-weight: bold;
    border-top: 1px solid #595;
}

/* Syles for the cart in the sidebar */

#cart, #cart table {
    font-size: smaller;
    color: white;
}

#cart table {
    max-width: 5em;
    border-top: 1px dotted #595;
    border-bottom: 1px dotted #595;
    margin-bottom: 10px;
}


#counter {
    font-size: small;
    color: #141;
    border-bottom: 1px solid #226;
}


/*Styles for order form*/
.depot-form fieldset {
    background: #efe;
}

.depot-form legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.depot-form label {
    width: 5em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.1em;
    display: block;
}

.depot-form select, .depot-form textarea, .depot-form input {
    margin-left: 0.5em;
}

.depot-form .submit {
    margin-left: 0.4em;
}

.depot-form div {
    margin: 0.5em 0;
}

#current_item {
/*    display: none*/
    font-weight: bold
}

.locale {
    float: right;
    padding-top: 0.2em;
    padding-left: 0.2em;
}

.faq-question {
    font-weight: bold;
}